<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  style="height: 100%"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Cat Management</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="m-3">
        <h1 th:text="#{title.catManagement}"></h1>
        <div class="row" style="height: 100%">
          <div class="col-4" style="background-color: orange; height: 100%">
            <div th:replace="fragments/fragments-sidebar :: sidebar"></div>
          </div>
          <div class="col-8">
            <div layout:fragment="content"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
